@import '../../../scss/abstracts/variables';
@import '../../../scss/abstracts/mixins';

.banner {
  @include bannerMixin;
  margin-top: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  background-image: linear-gradient(to right, $banner-bg, $banner-bg),
    url('./home-banner.png');
  background-blend-mode: darken;
  @include respond(mobile) {
    height: 13.875rem;
  }
  @include respondMax(23.875) {
    justify-content: left;
  }
  &__title {
    font-size: 4.8rem;
    font-weight: 500;
    color: #ffffff;
    @include respond(mobile) {
      font-size: 3rem;
    }
    span:first-child::after {
      @include respondMax(23.875) {
        content: '\a';
        white-space: pre;
      }
    }
  }
}
